{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="container mt-3">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">{{ page_title }}</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">

                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_description">{% trans 'Description' %}</label>
                                <input type="text" class="form-control" id="id_description" name="description" placeholder="{% trans 'Description' %}" value="{{ form.description.value|default_if_none:'' }}">
                            </div>
                            <div class="form-group">
                                <label for="id_protocol">{% trans 'Protocol' %} *</label>
                                <select class="form-control" id="id_protocol" name="protocol">
                                    <option value="tcp" {% if form.protocol.value == "tcp" %}selected{% endif %}>TCP</option>
                                    <option value="udp" {% if form.protocol.value == "udp" %}selected{% endif %}>UDP</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="id_port">{% trans 'Port' %} *</label>
                                <input type="number" class="form-control" id="id_port" name="port" value="{{ form.port.value|default_if_none:'' }}">
                            </div>

                            <div class="form-group">
                                <label for="id_port_forward">{% trans 'Destination Port' %}</label>
                                <input type="number" class="form-control" id="id_port_forward" name="port_forward" value="{{ form.port_forward.value|default_if_none:'' }}">
                            </div>

                            <div class="form-group">
                                <label for="destinationType">{% trans 'Destination Type' %} *</label>
                                <select class="form-control" name="destinationType" id="destinationType">
                                    <option value="peer">{% trans 'Peer' %}</option>
                                    <option value="ipAddress" {% if instance.ip_address %}selected{% endif %}>{% trans 'IP Address' %}</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="id_peer">{% trans 'Peer' %} *</label>
                                <select class="form-control" id="id_peer" name="peer">
                                    <option value="">---------</option>
                                    {% for peer in form.fields.peer.queryset %}
                                        <option value="{{ peer.pk }}" {% if form.instance.peer_id == peer.pk %}selected{% endif %}>{{ peer }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="id_wireguard_instance">{% trans 'WireGuard Instance' %} *</label>
                                <select class="form-control" id="id_wireguard_instance" name="wireguard_instance">
                                    {% comment %}<option value="">---------</option>{% endcomment %}
                                    {% for instance in form.fields.wireguard_instance.queryset %}
                                        <option value="{{ instance.pk }}" {% if form.instance.wireguard_instance_id == instance.pk %}selected{% endif %}>{{ instance }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="id_ip_address">{% trans 'IP Address' %} *</label>
                                <input type="text" class="form-control" id="id_ip_address" name="ip_address" placeholder="{% trans 'IP Address' %}" value="{{ form.ip_address.value|default_if_none:'' }}">
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="id_add_forward_rule" name="add_forward_rule" {% if form.add_forward_rule.value %}checked{% endif %}>
                                    <label class="form-check-label" for="id_add_forward_rule">{% trans 'Add Forward Rule (allow)' %}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="id_masquerade_source" name="masquerade_source" {% if form.masquerade_source.value %}checked{% endif %}>
                                    <label class="form-check-label" for="id_masquerade_source">{% trans 'Masquerade Source' %}</label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                            <a href="/firewall/port_forward/" class="btn btn-outline-secondary">{% trans 'Back' %}</a>
                            {% if instance %}<a href='javascript:void(0)' class='btn btn-outline-danger' data-command='delete' onclick='openCommandDialog(this)'>{% trans 'Delete' %}</a>{% endif %}

                        </form>
                    </div>
                    <div class="col-md-8">
                        {% blocktrans %}
                        <h5>デフォルトポート</h5>
                        <p>標準の <code>docker-compose.yml</code> では、<b>TCP</b> ポート範囲 <b>8080-8089</b> が指定されています。別の範囲へポート転送を変更する場合は、<code>docker-compose.yml</code> を手動で編集し、<a href="https://github.com/eduardogsilva/wireguard_webadmin?tab=readme-ov-file#deployment">デプロイ手順</a>に記載された Docker Compose の手順を再実行してください。</p>
                        <h5>宛先タイプ: ピア</h5>
                        <p>ポートリダイレクトは、優先度 0 が割り当てられた最初のピア IP アドレスを優先します。</p>
                        <h5>宛先タイプ: IP アドレス</h5>
                        <p>ポート転送ルールは、指定した IP アドレスへ転送します。その IP アドレスまたはネットワークをピアへ割り当てておく必要があります。</p>
                        <h5>転送ルールの追加</h5>
                        <p>より厳格なファイアウォール設定に対応するため、転送を許可するルールを自動生成します。</p>
                        <h5>送信元のマスカレード</h5>
                        <p>ピアが VPN をデフォルトゲートウェイとして使用しない場合の一時的な対処です。ただし、すべての接続の送信元アドレスが WireGuard インスタンスの IP アドレスに書き換わるため、この設定は推奨されません。</p>
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_page_scripts %}
    <script>
        function adjustVisibilityBasedOnDestinationType() {
            var selectedType = document.getElementById("destinationType").value;
            var peerField = document.getElementById("id_peer").closest(".form-group");
            var wireguardInstanceField = document.getElementById("id_wireguard_instance").closest(".form-group");
            var ipAddressField = document.getElementById("id_ip_address").closest(".form-group");

            if (selectedType === "peer") {
                peerField.style.display = "";
                wireguardInstanceField.style.display = "none";
                ipAddressField.style.display = "none";
                //document.getElementById("id_wireguard_instance").value = "";
                document.getElementById("id_ip_address").value = "";
            } else if (selectedType === "ipAddress") {
                peerField.style.display = "none";
                wireguardInstanceField.style.display = "";
                ipAddressField.style.display = "";
                document.getElementById("id_peer").value = "";
            }
        }

        // Chama a função no carregamento da página
        document.addEventListener("DOMContentLoaded", adjustVisibilityBasedOnDestinationType);

        // E também na mudança do campo
        document.getElementById("destinationType").addEventListener("change", adjustVisibilityBasedOnDestinationType);
    </script>

    <script>
        function openCommandDialog(element) {
            var command = element.getAttribute('data-command');
            var confirmation = prompt("{% trans 'To delete this rule, please type:' %} '{{ instance.protocol }}{{ instance.port }}'");
            if (confirmation) {
                var url = "?uuid={{ instance.uuid }}&action=delete&confirmation=" + encodeURIComponent(confirmation);
                window.location.href = url;
            }
        }
    </script>

{% endblock %}