{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-xl-6">
            <div class="card card-primary card-outline">
                {% if page_title %}
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title }}</h3>
                    </div>
                {% endif %}
                <div class="card-body row">
                    <div class="col-lg-12">
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card card-primary card-outline">
                <div class="card-body row">
                    <div class="col-lg-12">
                        <h5>{% trans "Display Name" %}</h5>
                        <p>
                            {% blocktrans %}
                                Web インターフェース上の表示にのみ使用する任意の名前です。
                            {% endblocktrans %}
                        </p>
                        <h5>{% trans "Web Refresh Interval" %}</h5>
                        <p>
                            {% blocktrans %}
                                Web UI で WireGuard の状態情報を更新する間隔です。
                            {% endblocktrans %}
                        </p>
                        <h5>{% trans "Public Address" %}</h5>
                        <p>
                            {% blocktrans %}
                                ピアが接続に使用する公開ホスト名または IP アドレスと UDP ポートです。
                                <br>
                                <b>待ち受けポート</b>は Docker compose (YAML) ファイルで公開し、マッピングしておく必要があります。
                            {% endblocktrans %}
                        </p>
                        <h5>{% trans "Interface Keys" %}</h5>
                        <p>
                            {% blocktrans %}
                                このインターフェースで使用する WireGuard の秘密鍵と公開鍵です。
                                <br>
                                秘密鍵は外部へ公開しないでください。
                                変更した場合は、すべてのピア設定を更新する必要があります。
                            {% endblocktrans %}
                        </p>
                        <h5>{% trans "Internal Network" %}</h5>
                        <p>
                            {% blocktrans %}
                                WireGuard インターフェースで使用する内部 IP アドレスとネットマスクです。
                            {% endblocktrans %}
                        </p>
                        <h5>{% trans "DNS Configuration" %}</h5>
                        <p>
                            {% blocktrans %}
                                ピアへ配布する DNS サーバーです。
                                <br>
                                内部 IP をプライマリ DNS として使用すると、内部名前解決
                                および DNS フィルタリングを利用できます。
                            {% endblocktrans %}
                        </p>
                        <h5>{% trans "Enforce Route Policy" %}</h5>
                        <p>
                            {% blocktrans %}
                                ルーティングテンプレートで定義したルーティングルールを、ファイアウォールルールで強制します。
                                <br>
                                デフォルトルート (0.0.0.0/0) を持つピアは制限されません。
                                <br><br>
                                注意: ルート数やピア数によっては、このオプションにより
                                大量のファイアウォールルールが生成される場合があります。
                            {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_page_scripts %}
    <script>
        function openCommandDialog(element) {
            var command = element.getAttribute('data-command');
            var confirmation = prompt("{{ delete_confirmation_message }}");
            if (confirmation) {
                var url = "?uuid={{ instance.uuid }}&action=delete&confirmation=" + encodeURIComponent(confirmation);
                window.location.href = url;
            }
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let passwordInput = document.getElementById('id_private_key');

            if (passwordInput) {
                let groupDiv = passwordInput.parentNode;
                if (!groupDiv.classList.contains('input-group')) {
                    let newGroup = document.createElement('div');
                    newGroup.className = 'input-group';

                    passwordInput.parentNode.insertBefore(newGroup, passwordInput);
                    newGroup.appendChild(passwordInput);

                    let appendDiv = document.createElement('div');
                    appendDiv.className = 'input-group-append';

                    let btn = document.createElement('button');
                    btn.className = 'btn btn-outline-secondary toggle-password-btn';
                    btn.type = 'button';
                    btn.innerHTML = '<i class="fas fa-eye"></i>';

                    appendDiv.appendChild(btn);
                    newGroup.appendChild(appendDiv);

                    btn.addEventListener('click', function () {
                        let passStatus = passwordInput.getAttribute('type') === 'password';
                        passwordInput.setAttribute('type', passStatus ? 'text' : 'password');
                        this.innerHTML = passStatus ? '<i class="fas fa-eye-slash"></i>' : '<i class="fas fa-eye"></i>';
                    });
                }
            }
        });
    </script>
{% endblock %}
